.
.cache
.face.icon
Muzyka
Publiczny
Wideo
..
.config
.git
Obrazy
Pulpit
.xsession-errors
.bash_logout
Dokumenty
.gtkrc-2.0
Pobrane
.sudo_as_admin_successful
.bashrc
.face
.local
.profile
Szablony
.ssh/
*.pem
*.key
.ssh
credentials.txt
